.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #221f26;
  color: #f8f8ff;
  font-family: "Helvetica Neue", Helvetica;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1rem;
}

.description {
  text-align: center;
  color: #c8c8c9;
  font-size: 0.75rem;
}

.description a {
  color: #f8f8ff;
  text-decoration: none;
}

.description a:hover,
.description a:focus,
.description a:active {
  text-decoration: underline;
}
